<div id="event-dialog" class="event-modal zoom-anim-dialog mfp-hide">
    <div class="row">
        <div class="cell-6 cell-9-lg cell-11-sm event-dialog__info">
            <div class="event-dialog__info_date">12:00, 15:00, 5 октября</div>
            <div class="event-dialog__info_type">Квест-экскурсия</div>
        </div>
    </div>
    <h3 class="event-dialog__header window-title">
        «Живые символы Барнаула»
        <div class="starred-event">
            <svg class="starred-event__star" aria-hidden="true" width="100%" height="100%">
                <use xlink:href="#starred-icon"></use>
            </svg>
            <span class="starred-event__text">Главное событие месяца</span>
        </div>
    </h3>
    <div class="row is-grid event-dialog__grid">
        <div class="cell-5 cell-12-m">
            <div class="event-dialog__img">
                <img src="/img/popup__img1.jpg" alt="">
            </div>
            <div class="event-dialog__ticket">
                <div class="dialog__ticket_tizer">
                    <div class="tizer_top">
                        Стоимость участия:
                    </div>
                    <div class="dialog__ticket_price">
                        500 руб.
                    </div>
                </div>
                <div class="dialog__ticket_bage">
                    15+
                </div>
            </div>
        </div>
        <div class="cell-7 cell-12-m event-dialog__text">
            <p>Напоминаем, <b>23 сентября</b> в честь Всемирного дня туризма пройдёт квест-экскурсия «Живые символы
                Барнаула». У
                участников квеста появится возможность найти «следы животных»
                в истории Барнаула. Квест-экскурсия дважды (12:00 и 15:00) стартует от Демидовской площади.
                В ходе игры группам предстоит найти живой символ города Барнаула, участники получат ценные призы на
                память. Чтобы попасть на квест, нужно записаться по телефону63-35-75, либо подойти к палатке Туристского
                информационного центра на улице Мало-Тобольской в эту субботу. Чтобы попасть на квест, нужно записаться
                по телефону63-35-75, либо подойти к палатке Туристского информационного центра на улице Мало-Тобольской
                в эту субботу. Чтобы попасть на квест, нужно записаться по телефону63-35-75, либо подойти к палатке
                Туристского информационного центра на улице Мало-Тобольской в эту субботу.
            </p>
            <p>
                Напоминаем, 23 сентября в честь Всемирного дня туризма пройдёт квест-экскурсия «Живые символы
                Барнаула».У участников квеста появится возможность найти «следы животных»
                в истории Барнаула. Квест-экскурсия дважды (12:00 и 15:00) стартует от Демидовской площади.
                В ходе игры группам предстоит найти живой символ города Барнаула, участники получат ценные призы на
                память.Чтобы попасть на квест, нужно записаться по телефону63-35-75, либо подойти к палатке Туристского
                информационного центра на улице Мало-Тобольской в эту субботу.
            </p>
            <p>
                Чтобы попасть на квест, нужно записаться по телефону63-35-75, либо подойти к палатке Туристского
                информационного центра на улице Мало-Тобольской в эту субботу. Чтобы попасть
                на квест, нужно записаться по телефону63-35-75, либо подойти к палатке Туристского информационного
                центра на улице Мало-Тобольской в эту субботу. Квест-экскурсия дважды
                (12:00 и 15:00) стартует от Демидовской площади. В ходе игры группам предстоит найти живой символ города
                Барнаула, участники получат ценные призы на память.
            </p>
            <div class="article_link">
                <span class="article_link-inner">
                    Подробная информация на странице фестиваля Вконтакте:
                    <a href="https://vk.com/altaitourismday" target="_blank"
                        rel="noopener noreferrer">https://vk.com/altaitourismday</a>
                </span>
            </div>
        </div>
    </div>
</div>

<div id="hero-gallery" class="hero-modal zoom-anim-dialog mfp-hide">
    <div class="row">
        <div class="cell-12 hero-gallery__popup">
            <h2 class="gallery-title">
                Универмаг торгового дома «Д.Н. Сухова сыновья»
            </h2>
            <div class="swiper gallery-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img loading="lazy" src="/img/slider/gallery-slide1.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img loading="lazy" src="/img/slider/gallery-slide2.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img loading="lazy" src="/img/slider/gallery-slide1.png" alt="">
                    </div>
                </div>
                <div class="swiper-controls">
                    <div class="swiper-fractions">
                        <div class="swiper-active-slide"></div>
                        <div class="swiper-count-slides"></div>
                    </div>
                    <div class="swiper-scrollbar-holder">
                        <div class="swiper-scrollbar"></div>
                    </div>
                    <div class="swiper-count-total"></div>
                    <div class="swiper-arrows">
                        <div class="swiper-button-prev">
                            <svg aria-hidden="true" width="15" height="26">
                                <use xlink:href="#slider-prev-svg"></use>
                            </svg>
                        </div>
                        <div class="swiper-button-next">
                            <svg aria-hidden="true" width="15" height="26">
                                <use xlink:href="#slider-next-svg"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>