.mm-ocd__content {

    --mm-ocd-width: 100%;
    --mm-spn-panel-offset: 0%;

    .mm-filter__wrapp {
        margin-top: 80px;
        margin-bottom: 100px;
        overflow: auto;
        position: relative;
    }

    .mm-filter__btns {
        position: fixed;
        bottom: 0;
        background-color: white;
        z-index: 10;
        width: 100%;
        box-sizing: border-box;

        display: flex;
        padding: 20px;
        gap: 20px;

        .filter-apply {
            flex: 1 1 60%
        }

        .filter-cancel {
            flex: 1 1 40%;
        }
    }

    .mm-filter {
        border-bottom: 1px solid #DEDEDE;
    }
}

.mm-ocd__backdrop {
    z-index: 1;
}

#mmenu {
    display: none;
}

.dom-loaded~.mm-ocd #mmenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mmenu {
    &__opener {

        max-width: 210px;
        height: 59px;
        line-height: 1.3em;
        display: flex;
        background: #E08F40;
        border-radius: 10px;
        padding: 10px 25px;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        margin-bottom: 19px;
    }

    .filter-opener__icon {
        height: 21px;
        width: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.mm-spn.mm-spn--light {
    background-color: white;

    .btn-close {
        position: absolute;
        cursor: pointer;
        background: rgba(0, 0, 0, 0);
        border: 0;
        display: block;
        outline: none;
        padding: 0;
        z-index: 1046;
        top: 9px;
        right: 9px;

        color: var(--color_standart);
        top: 21px;
        right: 21px;
        font-size: 37px;
    }
}

.mm-spn.mm-spn--navbar:after {
    opacity: 1;
    text-align: left;
    /* Фильтр */
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #333333;
    height: 80px;
    display: flex;
    align-items: center;
}

.mm-spn.mm-spn--navbar ul {
    top: 80px;
}