<!-- mmenu -->
<div class="mmenu @@class">
    <a href="#mmenu" class="mmenu__opener">
        <span class="filter-opener__title">Фильтры</span>
        <div class="filter-opener__icon">
            <svg aria-hidden="true" width="100%" height="100%">
                <use xlink:href="#filter-opener-icon"></use>
            </svg>
        </div>
    </a>
    <nav id="mmenu">
        <button title="Закрыть" type="button" class="btn-close">×</button>
        <ul class="hide">
            <li><a href="/"></a></li>
        </ul>

        <div class="mm-filter__wrapp js-mm-filter" data-tabs-container>
            <div class="mm-filter">

                <div data-tab-anchor="2" class="mm-filter__toggle">
                    <span class="filter-title-inner">
                        Cредний чек <!--<i class="filter-curr-value">500-1300</i>-->
                    </span>
                    <svg aria-hidden="true" width="11" height="7">
                        <use xlink:href="#arrow-down-svg"></use>
                    </svg>
                </div>

                <div data-tab-target="2" class="mm-filter__target">
                    <input value="0,100" type="range" multiple>
                    <div class="range-slider-input row is-grid flex-center">
                        <div class="cell-6">
                            <input class="input-field input-range" name="price_min" placeholder="500" value="500"
                                data-range-from="">
                        </div>

                        <div class="cell-6">
                            <input class="input-field input-range" name="price_max" placeholder="13000" value="13000"
                                data-range-to="">
                        </div>
                    </div>
                </div>

            </div>
            <div class="mm-filter">
                <div data-tab-anchor="1" class="mm-filter__toggle">
                    <span class="filter-title-inner">
                        Вид кухни <i class="filter-count-selected"></i>
                    </span>
                    <svg class="filter-title-chevron" aria-hidden="true" width="100%" height="100%">
                        <use xlink:href="#arrow-down-svg"></use>
                    </svg>
                </div>
                <div data-tab-target="1" class="mm-filter__target">
                    <ul class="curr_filter_values">
                        <div class="row filter-checbox-item">
                            <input type="checkbox" id="chk1" />
                            <label title="Азиатская" for="chk1">Азиатская</label>
                        </div>
                        <div class="row filter-checbox-item">
                            <input type="checkbox" id="chk2" />
                            <label title="Русская" for="chk2">Русская</label>
                        </div>
                        <div class="row filter-checbox-item">
                            <input type="checkbox" id="chk3" />
                            <label title="Европейская" for="chk3">Европейская</label>
                        </div>
                        <div class="row filter-checbox-item">
                            <input type="checkbox" id="chk4" />
                            <label title="Азиатская" for="chk4">Азиатская</label>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="mm-filter">

                <div data-tab-anchor="3" class="mm-filter__toggle">
                    <span class="filter-title-inner">
                        Особенности <i class="filter-count-selected"></i>
                    </span>
                    <svg aria-hidden="true" width="11" height="7">
                        <use xlink:href="#arrow-down-svg"></use>
                    </svg>
                </div>


                <div data-tab-target="3" class="mm-filter__target">
                    <ul class="curr_filter_values">
                        <div class="row filter-checbox-item">
                            <input type="checkbox" id="chk1-1" />
                            <label title="Азиатская" for="chk1-1">Все</label>
                        </div>
                        <div class="row filter-checbox-item">
                            <input type="checkbox" id="chk1-2" />
                            <label title="Русская" for="chk1-2">Рестораны</label>
                        </div>
                        <div class="row filter-checbox-item">
                            <input type="checkbox" id="chk1-3" />
                            <label title="Европейская" for="chk1-3">Кафе</label>
                        </div>
                    </ul>
                </div>
            </div>
        </div>

        <div class="mm-filter__btns">
            <button class="btn-main filter-apply" type="button">
                Применить
            </button>
            <button class="btn-main filter-cancel" type="button">
                Сбросить
            </button>
        </div>
    </nav>
</div>
<!-- end of mmenu -->