@media (max-width: 1800px) {

    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-variant: initial;
        line-height: 1
    }

    .hero__headline_btn {
        width: 27px;
        height: 19px;
        overflow: hidden;
    }

    .hero__headline_btn__wrapper {
        position: absolute;
    }

    .hero__headline_btn:hover {
        width: auto;
        z-index: 90;
    }

    .hero__headline_btn:hover .hero__headline_btn__wrapper {
        position: relative;
    }

    .hero__headline_btn span {
        display: none;
    }

    .hero__headline_btn:hover span {
        display: inline;
    }
}

@media (max-width: 1610px) {
    .history-obj .hero-bg {
        background-size: 59%;
    }

    .hero__body h1 {
        font-size: 35px;
    }
}

@media (max-width: 1460px) {
    .big_font {
        font-size: 45px;
    }

    .small_font {
        font-size: 14px;
    }

    .site-content.is-container-fix>.container {
        padding: 0 30px;
    }

    .is-container-fix .container {
        padding: 0 30px;
    }

    .history-obj .hero-bg {
        background-size: 50%;
    }

    .hero__body h1 {
        font-size: 31px;
    }
}

@media (max-width: 1200px) {
    .swiper.gallery-slider .swiper-controls {
        width: 70%;
    }

    .event-list .starred-event__text {
        display: none;
    }

    .event-list .starred-event__star {
        padding-right: 0;
    }

    .tippy-box .tippy-content {
        padding: 15px;
        white-space-collapse: preserve-breaks;
    }

    .big_font {
        font-size: 41px;
        line-height: 1.3em;
    }

    .small_font {
        font-size: 12px;
        line-height: 1.3em;
    }

    .trip__stripe {
        padding: 18px 0;
        margin-bottom: 20px;
    }

    .hero__body_right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .page-hero-block {
        margin: 45px 0 40px 0;
        max-width: none;
    }

    .page-hero__btn-gallery {
        position: relative;
        margin-left: auto;
        width: auto;
    }

    .page-hero__btn-gallery .white-btn {
        width: auto;
    }

    .page-hero__btn-gallery .white-btn span {
        padding-right: 15px;
    }

    .page-hero__btn-gallery .white-btn svg {
        width: 20px;
        flex: 0 0 20px;
    }

    .iso-filter__btn {
        margin-right: 10px;
        margin-bottom: 7px;
    }
}

@media (max-width: 920px) {

    .x3-slider__wrap .x3-slide__data .container {
        padding-top: 7%;
    }

    .x3-slider__wrap .x3-slider__item img {
        max-width: unset;
        width: 100%;
        height: unset;
        margin-left: auto;
    }

    .x3-slide__data .container {
        padding-top: 7%;
        padding-bottom: 5%;
    }

    .x3-slider__wrap .x3-slide__btn {
        min-width: 0;
        width: auto;
        margin-top: 25px;
        font-size: 15px;
        line-height: 1.3em;
        border-radius: 5px;
        height: auto;
        padding: 10px 30px;
    }

    .x3-slider__wrap .x3-slider__wrap .x3-slide__name {
        font-size: 21px;
        line-height: 1.3em;
    }

    .header-main {
        height: auto;
    }

    .x3-slide__name {
        height: 50px;
        margin-top: 26px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 25px;
        font-size: 18px;
        line-height: 1.3em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .x3-slide__btn {
        width: auto;
        height: 50px;
        margin-top: 20px;
        font-size: 15px;
        line-height: 54px;
        border-radius: 5px;
    }

    .x3-slide__data {
        height: 100%;
    }

    .mm-spn.mm-spn--navbar .mm-filter__target ul:before {
        border-top: 0px solid;
    }

    .mm-filter__target {
        padding-bottom: 10px;
        display: none;

        .range-slider-input {
            padding: 0 15px;
        }

        .filter-checbox-item {
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 15px;
            margin-bottom: 15px;
            flex: 0 0 auto;

            label {

                padding: 7px 15px;
                border: 1px solid #DEDEDE;
                background: #FFFFFF;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;

                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 130%;
                color: #333333;

                &.jcf-label-active {
                    background-color: #DEDEDE;
                    font-weight: 900;
                }
            }
        }

        .jcf-checkbox {
            display: none;
        }

        .curr_filter_values {
            padding: 0 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            position: relative;
        }

        .irs--flat {
            width: 100%;
        }

        .irs span {
            padding: 0;
        }
    }

    .filter-title-chevron {
        transform: rotate(0);
        transition: transform .3s;
        height: 13px;
        width: 13px;
    }

    .mm-spn ul.curr_filter_values {
        position: relative;
        top: auto;
        left: auto;
    }

    .mm-filter__toggle {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 18px;
        line-height: 1.3em;
        color: #333333;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding-right: 20px;

        .is-button-close .filter-title-chevron {
            transform: rotate(180);
        }
    }

    .tippy-box .tippy-content {
        padding: 15px 30px;
        display: block;
    }

    .zoom_container {
        top: 90px;
        width: 300px;
    }

    .tippy-box .tippy-content a {
        white-space: normal;
    }

    .small_font {
        display: none;
    }

    .trip__stage {
        justify-content: center;
    }

    .svg_animate {
        left: calc(50% + 49px);
        transform: translateX(-50%);
    }

    .trip__map {
        height: 500px;
    }

    .trip__map img {
        height: 100%;
        object-fit: cover;
    }

    .main-event__gallery-date {
        padding: 7px 11px;
    }

    .main-event__gallery-title {
        font-size: 18px;
    }

    .event-item__type {
        font-size: 13px;
    }

    .event-item__title {
        font-size: 21px;
    }

    .header-day,
    .day {
        min-width: 40px;
        min-height: 39px;
    }

    .event-item__time {
        margin-right: 15px;
    }

    .event-item__btn {
        margin-top: 15px;
    }

    .event-item__date_wrap {
        flex-direction: row;
        height: auto;
        max-width: 300px;
    }

    .event-item__title_wrap {
        margin-top: 15px;
        padding-left: 0;
    }

    .event-list__item {
        padding-bottom: 17px;
    }

    .welcome_grid {
        flex-direction: column;
    }

    .welcome_grid-left {
        margin-bottom: 35px;
    }

    .main-event__sidebar>.col {
        flex-direction: row;
        margin: -5px;
    }

    .main-event__img {
        width: auto;
        height: auto;
        padding: 10px;
    }

    .main-event__img img {
        border-radius: 20px;
    }

    article {
        margin-bottom: 10px;
    }
}

@media screen and (max-width:769px) {
    .bubble_card {
        flex-direction: column;
        padding: 10px 10px 10px 25px;
    }

    .bubble_card__wrap {
        padding: 10px 0 0 0;
    }

    .bubble_card__card {
        margin: 0 auto 0 0;
        display: block;
        width: 135px;
    }

    .bubble_card__right {
        margin-top: 20px;
    }

    .bubble_card__question {
        font-size: 22px;
        margin-bottom: 19px;
    }

    .bubble_card__close {
        top: 10px;
        right: 5px;
    }

    .objects-list__partner {
        top: -0.5px;
    }

    .event-modal .starred-event__text {
        display: none;
    }

    .widget__main-event {

        margin: 0 auto;
        padding: 0;
        box-shadow: none;
    }

    .trip-stage-icon {
        height: 30px;
        width: 30px;
        flex: 0 0 30px;
    }

    .widget__info {
        padding: 0 0 30px;
    }

    .widget__img img {
        width: 100%;
    }

    #calendar,
    .widget__main-event {
        max-width: 370px;
        margin: 0 auto 20px;
        box-sizing: border-box;
    }

    .hero__body h1 {
        font-size: 27px;
    }

    .page-hero-block__legend {
        font-size: 14px;
        line-height: 1.3em;
    }

    .player-slot {
        justify-content: center;
    }
}

@media screen and (max-width:640px) {
    .x3-slider__wrap .x3-slide__btn {
        margin-top: 15px;
        padding: 10px 20px;
    }

    .x3-slider__wrap .x3-slide__name {
        font-size: 16px;
        margin-top: 0;
        line-height: 1.3em;
    }

    .x3-slider__wrap .x3-slide__data .container {
        padding-top: 7%;
    }

    .audio-link {
        height: 51px;
        position: relative;
        top: 0;
        margin-bottom: 15px;
    }

    .swiper.image-slider .swiper-controls .swiper-fractions {
        padding-left: 15px;
    }

    .swiper.image-slider .swiper-controls .swiper-arrows {
        padding-right: 0;
    }

    .swiper.image-slider {
        padding: 20px;
    }

    .swiper.gallery-slider .swiper-controls {
        width: 100%;
    }

    .event-modal .starred-event {
        right: 0;
        border-radius: 60px;
        position: relative;
        display: inline-block;
        padding: 0 9px;
        margin: 10px 0;
    }

    .event-modal .starred-event__star {
        padding-right: 0;
    }

    .big_font_subtext {
        font-size: 12px;
        top: -4px;
        right: 24px;
    }

    .big_font {
        font-size: 33px;
        padding-right: 10px;
    }

    .trip__map {
        height: 390px;
    }

    .svg_animate {
        left: calc(50% + 38px);
        top: -1.3%;
    }

    .main-event__gallery-img {
        margin-bottom: 10px;
    }

    .main-event__gallery-date {
        font-size: 12px;
    }

    .main-event__gallery-title {
        font-size: 16px;
    }

    .event-dialog__info_date {
        font-size: 15px;
        padding: 10px;
    }

    .modal-container {
        padding: 27px 21px;
    }

    .event-dialog__info {
        flex-direction: column-reverse;
    }

    .mfp-close-btn-in .mfp-close {
        top: 9px;
        right: 9px;
    }

    .hero__headline {
        margin: 27px 0 5px;
    }

    .welcome_text {
        padding: 15px;
        border-radius: 15px;
        font-size: 14px;
    }

    .history-obj .hero-bg {
        background-size: 100%;
    }

    .progress-track {

        min-width: 25vw;
    }

    .audio-player__info {
        font-size: 13px;
    }
}

@media screen and (max-width:480px) {
    .x3-slider__wrap .x3-slide__name {
        font-size: 13px;
    }

    .x3-slider__wrap .x3-slide__btn {
        margin-top: 0px;
        padding: 4px 10px;
        font-size: 12px;
    }

    .bubble_card__card {
        width: 115px;
    }

    .bubble_card__question {
        font-size: 16px;
    }

    .event-item__date_wrap {
        width: 75%;
        padding: 13px 20px;
    }

    .event-list .starred-event {
        top: 25px;
        right: 0;
        border-radius: 20px 0 0 20px;
        padding: 13px 20px;
    }

    .header-day,
    .day {
        min-width: 35px;
        min-height: 37px;
    }

    .zoom_limiter {
        width: 33vw;
        height: 33vw;
    }

    .trip__stage-divider {
        right: 23px;
    }

    .trip__stage:nth-child(2) .trip__stage-divider {
        right: -27px;
    }

    .big_font_subtext {
        font-size: 9px;
        top: -7px;
        right: 7px;
    }

    .trip-stage-icon {
        height: 23px;
        width: 23px;
        flex: 0 0 23px;
    }

    .big_font {
        font-size: 20px;
        padding-right: 7px;
    }

    .trip__stripe {
        padding: 10px;
        margin-bottom: 10px;
    }

}

@media screen and (max-width:380px) {
    .zoom_limiter {
        right: 20%;
        width: 40vw;
        height: 40vw;
    }

    .iso-filter__btn {
        padding: 10px 19px;
    }

    .hero__body h1 {
        font-size: 25px;
        margin-block-start: 19px;
        margin-block-end: 19px;
    }

    .page-hero-description {
        width: 100%;
        font-size: 12px;
    }

    .fastfact-text {
        font-size: 14px;
    }

    .page-hero-fastfacts {
        padding: 25px 0;
    }
}