 .layout__filter {
     display: flex;
     position: relative;
     z-index: 10;
     gap: 30px;
     flex-wrap: wrap;

     .exit-filter {
         display: none;
         justify-content: center;
         align-items: center;
     }
 }

 .filter-toggle,
 .filter-title-inner {
     display: flex;
 }

 .mm-spn .mm-filter {

     .bx-ui-slider-range,
     .bx-ui-slider-pricebar,
     .bx-ui-slider-pricebar-vd,
     .bx-ui-slider-pricebar-vn,
     .bx-ui-slider-pricebar-v {
         position: absolute;
         top: 0;
         bottom: 0;
     }

     .bx-ui-slider-range {
         z-index: 50;
     }

     .bx-ui-slider-pricebar-v {
         z-index: 40;
         background-color: #E08F40;
     }

     .bx-ui-slider-handle {
         position: absolute;
         top: -9px;
         width: 22px;
         height: 22px;
         border-bottom: none;
         background-color: transparent;
         display: flex;
         align-items: center;
         padding: 0;
     }

     .bx-ui-slider-handle::after {
         display: block;
         content: '';
         position: relative;
         width: 70%;
         height: 70%;
         background-color: #E08F40;
         border-radius: 50%;
         z-index: -1;
         opacity: 1;
         border: 0px solid;
     }

     .bx-ui-slider-handle.left {
         left: 0;
         justify-content: flex-start;
     }

     .bx-ui-slider-handle.right {
         right: 0;
         justify-content: flex-end;
     }

     .bx-ft-sub {
         display: none;
     }

     .bx-ui-slider-track-container {
         padding-top: 10px;
         padding-bottom: 25px;
     }

     .bx-ui-slider-track {
         position: relative;
         height: 3px;
         background: #EEEEEE;
     }

     a:not(:last-child) {
         z-index: inherit;
         padding: 0;
     }

     .fake-click.is-active-fake {
         background-color: #dedede;
         font-weight: 900;
     }

     .irs--flat {
         .irs-line {
             height: 3px;
         }

         .irs-bar {
             height: 3px;
             background-color: #E08F40;
         }

         .irs-handle {
             background-color: #E08F40;
             border-radius: 50%;
             top: 18px;
             width: 16px;
             height: 16px;

             &>i:first-child {
                 top: 0;
                 left: 0;
                 width: 16px;
                 height: 16px;
                 margin-left: 0;
                 background-color: transparent;
             }

             &:hover>i:first-child {
                 background-color: transparent;
             }
         }

         .irs-from,
         .irs-to,
         .irs-single {
             font-size: 18px;
             top: -16px;
             background-color: #E08F40;
         }


     }

 }

 .mm-filter__wrapp {

     .filter-title-inner {
         display: flex;

         span.filter-count-selected,
         span.filter-title_info {
             padding: 0;
         }
     }
 }


 .bx-filter-param-text::first-letter {
     text-transform: uppercase;
 }

 .filter-title {
     &.bx-active {
         .filter-toggle {}
     }

     .filter-toggle {
         &.bx-active {
             background-color: #f2f2f2;
             font-weight: bold;

             .exit-filter {
                 display: flex;
             }

             i.fa {
                 display: none;
             }
         }

     }

     &-inner {
         flex: 1 1 100%;
         justify-content: flex-start;
         align-items: center;
     }

     &_info {
         padding-right: 10px;
         font-weight: 700;
         color: #E08F40;

         .bottom-price,
         .top-price {
             font-style: normal;
         }

         .bottom-price+.top-price:before {
             content: '-';
         }
     }
 }

 .filter-toggle svg {
     display: block;
     height: auto;
     width: auto;
 }

 .filter-count-selected {
     padding: 0 0 0 15px;
     font-style: normal;
     font-weight: bold;
     color: #E08F40;
 }

 .filter-checbox-item {
     padding-bottom: 15px;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     letter-spacing: 1px;

     [type="checkbox"] {

         cursor: pointer;
         display: flex;
         justify-content: center;
         align-items: center;
         width: 22px;
         height: 22px;
         border: 1px solid #ADADAD;
         background-color: #EEEEEE;
         margin-right: 25px;
     }
 }

 .filter-checbox-item .bx-filter-param-text {
     flex: 1 1 calc(100% - 125px);
 }

 .filter-toggle {
     cursor: pointer;
     background: #FFFFFF;
     border: 1px solid #AFAFAF;
     border-radius: 50px;
     padding: 10px 20px;
     flex: 1 1 30%;
     min-width: var(--filter-min-width);
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 1.3em;
     color: #000000;
 }

 .filter-wrap {
     position: relative;
 }

 .filter-popup {
     position: absolute;
     z-index: 55;
     top: -9000%;
     left: 50%;
     transform: translate(-50%, 23px);
     min-width: var(--filter-min-width);
     background: #FFFFFF;
     box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
     border-radius: var(--border-radius-standart);
     padding: 14px;
     padding-top: 20px;
     color: #000000;

     .curr_filter_values {
         width: 100%;

         .bx-ft-sub {
             display: none;
         }
     }

     &:before {
         content: '';
         display: block;
         width: 0;
         height: 0;
         position: absolute;

         border-top: 13px solid transparent;
         border-right: 13px solid transparent;
         border-bottom: 13px solid rgb(255, 255, 255);
         border-left: 13px solid transparent;
         left: 10%;
         top: -25px;
     }
 }

 .filter-title.bx-active .filter-popup {
     top: 100%;
 }


 .filter-title .bx-active {

     .exit-filter {
         display: flex;
     }
 }

 .layout__iso-filter {
     margin-bottom: 31px;
 }

 .iso-filter__btn {
     background: #FFFFFF;
     border: 1px solid #DEDEDE;
     border-radius: 50px;
     font-weight: 500;
     font-size: 14px;
     line-height: 1.3em;
     text-align: center;
     letter-spacing: 1px;
     color: #000000;
     padding: 13px 27px;
     margin-right: 20px;
     cursor: pointer;
     margin-bottom: 10px;

     &_date {
         display: none;
     }

     &:not([data-filter="*"]) {
         .iso-filter-title {
             position: relative;
             padding-left: 17px;

             &::before {
                 content: "";
                 position: absolute;
                 left: -9px;
                 top: 1px;
                 width: 14px;
                 height: 14px;
                 border: 0px solid #ddd;
                 border-radius: 100%;
                 background: #a9a9a9;
             }
         }
     }

     &.is-checked {
         background: #EBEBEB;
     }

     &.iso-filter__btn_holidays .iso-filter-title:before {
         background: #64E7C7;
     }

     &.iso-filter__btn_competitions .iso-filter-title:before {
         background: #FF9C9C;
     }

     &.iso-filter__btn_performances .iso-filter-title:before {
         background: #FFA800;
     }

     &.iso-filter__btn_exhibitions .iso-filter-title:before {
         background: #6DE0E8;
     }

     &.iso-filter__btn_excursions .iso-filter-title:before {
         background: #8F81E5;
     }

     &.iso-filter__btn_concerts .iso-filter-title:before {
         background: #D9D348;
     }

     &.iso-filter__btn_sport .iso-filter-title:before {
         background: #648BEE;
     }
 }