<!-- iso-filter -->
<div class="iso-filter layout__iso-filter row">
    <div class="iso-filter__btn iso-filter__btn_all is-checked" data-filter="*">
        <div class="iso-filter-title">Все события</div>
    </div>
    <div class="iso-filter__btn iso-filter__btn_holidays" data-filter="event-holidays">
        <div class="iso-filter-title">Праздники</div>
    </div>
    <div class="iso-filter__btn iso-filter__btn_competitions" data-filter="event-competitions">
        <div class="iso-filter-title">Конкурсы</div>
    </div>
    <div class="iso-filter__btn iso-filter__btn_performances" data-filter="event-performances">
        <div class="iso-filter-title">Спектакли</div>
    </div>
    <div class="iso-filter__btn iso-filter__btn_exhibitions" data-filter="event-exhibitions">
        <div class="iso-filter-title">Выставки</div>
    </div>
    <div class="iso-filter__btn iso-filter__btn_excursions" data-filter="event-excursions">
        <div class="iso-filter-title">Экскурсии</div>
    </div>
    <div class="iso-filter__btn iso-filter__btn_concerts" data-filter="event-concerts">
        <div class="iso-filter-title">Концерты</div>
    </div>
    <div class="iso-filter__btn iso-filter__btn_sport" data-filter="event-sport">
        <div class="iso-filter-title">Спорт</div>
    </div>
</div>
<!-- end of iso-filter -->