<div id="calendar">
    <script type="text/template" id="template-calendar">
        <div class="clndr-controls">
            <div class="clndr-previous-button">
                <svg aria-hidden="true" width="16" height="12">
                    <use xlink:href="#arrow-left"></use>
                </svg>
            </div>
            <div class='month'><%= month %> <%= year %></div> 
            <div class="clndr-next-button">
                <svg aria-hidden="true" width="16" height="12">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </div>
        </div>
        <div class="clndr-grid">
            <div class="days-of-the-week">
            <% _.each(daysOfTheWeek, function(day) { %>
                <div class="header-day"><%= day %></div>
            <% }); %>
            </div>
            <div class="days">
            <% _.each(days, function(day) { %>
                <div class="<%= day.classes %>"><%= day.day %></div>
            <% }); %>
            </div>
        </div>
        <!-- <div class="clndr-today-button">Today</div> -->
    </script>
</div>