<!-- header -->
<header class="header" id="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__left">

            </div>
            <div class="header__center">

            </div>
            <div class="header__right">

                <div class="header__controls header__controls--second">
                    <hamburger class="hamburger" id="hamburger-toggle" aria-label="Меню">
                        <span class="hamburger__inner"></span>
                        <span class="hamburger__inner"></span>
                        <span class="hamburger__inner"></span>
                    </hamburger>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end of header -->