<!-- header -->
<header class="header" id="header">
    <div class="container">
        <div class="x3-header">
            <div class="x3-header__logo">
                <a href="/" class="x3-logo ">
                    <span class="x3-logo__img">
                        <svg aria-hidden="true" width="43" height="51">
                            <use xlink:href="#logo-svg"></use>
                        </svg>
                    </span>
                    <span class="x3-logo__text">
                        Барнаул
                        <span>город в Сибири</span>
                    </span>
                </a>
            </div>
            <div class="x3-header__menu">
                <div class="x3-tmenu ">
                    <div class="x3-tmenu__icon">
                        <svg aria-hidden="true" width="20" height="15">
                            <use xlink:href="#menu-svg"></use>
                        </svg>
                    </div>
                    <div class="x3-tmenu__wrap">
                        <div class="x3-tmenu__mobile">
                            <div class="x3-tmenu__btn"><a href="/feedback/" class="x3-btn">Свяжитесь с нами</a></div>
                            <button class="x3-tmenu__close">
                                <svg aria-hidden="true" width="15" height="15">
                                    <use xlink:href="#close-svg"></use>
                                </svg></button>
                        </div>
                        <ul class="x3-tmenu__list">
                            <li>
                                <!-- <a href="/objects/where_visit/"> -->
                                <a href="#">
                                    Где побывать <svg aria-hidden="true" width="11" height="7">
                                        <use xlink:href="#arrow-down-svg"></use>
                                    </svg></a>
                                <ul>
                                    <!-- <li><a href="/objects/where_visit/Monuments/">Достопримечательности </a></li>
                                    <li><a href="/objects/where_visit/Museums/">Музеи / Галереи</a></li>
                                    <li><a href="/objects/where_visit/theaters/">Театры / Концертные залы</a></li> -->
                                    <li><a href="#">Достопримечательности </a></li>
                                    <li><a href="#">Музеи / Галереи</a></li>
                                    <li><a href="#">Театры / Концертные залы</a></li>
                                </ul>
                            </li>
                            <li class="item-selected">
                                <!-- <a href="/objects/where_eat/"> -->
                                <a href="#">
                                    Где поесть <svg aria-hidden="true" width="11" height="7">
                                        <use xlink:href="#arrow-down-svg"></use>
                                    </svg></a>
                                <ul>
                                    <li><a href="#">Кафе</a></li>
                                    <li><a href="#">Рестораны</a></li>
                                    <!-- <li><a href="/objects/where_eat/kafe/">Кафе</a></li>
                                    <li><a href="/objects/where_eat/restaurants/">Рестораны</a></li> -->
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <!-- <a href="/objects/where_stay/"> -->
                                    Где разместиться <svg aria-hidden="true" width="11" height="7">
                                        <use xlink:href="#arrow-down-svg"></use>
                                    </svg></a>
                                <ul>
                                    <li><a href="#">Гостиницы/ Отели</a></li>
                                    <li><a href="#">Санатории</a></li>
                                    <li><a href="#">Хостелы</a></li>
                                    <!-- <li><a href="/objects/where_stay/hotels/">Гостиницы/ Отели</a></li>
                                    <li><a href="/objects/where_stay/sanatoriums/">Санатории</a></li>
                                    <li><a href="/objects/where_stay/hostels/">Хостелы</a></li> -->
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <!-- <a href="/about-barnaul/barnaul-turistiheskii/"> -->
                                    О Барнауле <svg aria-hidden="true" width="11" height="7">
                                        <use xlink:href="#arrow-down-svg"></use>
                                    </svg></a>
                                <ul>
                                    <li><a href="#">Барнаул туристический</a></li>
                                    <li><a href="#">Интересный Барнаул</a></li>
                                    <li><a href="#" target="_blank">Советы туристам</a></li>
                                    <!-- <li><a href="/about-barnaul/barnaul-turistiheskii/">Барнаул туристический</a></li>
                                    <li><a href="/about-barnaul/interesnoe-o-gorode/">Интересный Барнаул</a></li>
                                    <li><a href="http://project27223.tilda.ws/visitingbarnaul" target="_blank">Советы туристам</a></li> -->
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <!-- <a href="/ekskursii/"> -->
                                    Экскурсии <svg aria-hidden="true" width="11" height="7">
                                        <use xlink:href="#arrow-down-svg"></use>
                                    </svg></a>
                                <ul>
                                    <!-- <li><a href="/ekskursii/">Экскурсии</a></li> -->
                                    <li><a href="#">Экскурсии</a></li>
                                </ul>
                            </li>
                            <li><a href="#" class="root-item">Сувениры</a></li>
                            <!-- <li><a href="/souvenirs/" class="root-item">Сувениры</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="x3-header__search x3-search">
                <div class="x3-search__icon svg-rotate">
                    <svg aria-hidden="true" width="21" height="20">
                        <use xlink:href="#search-svg"></use>
                    </svg>
                </div>
                <div class="x3-search-panel">
                    <div class="x3-search-panel__wrap">
                        <form action="#">
                            <!-- <form action="/search/index.php"> -->
                            <input type="text" name="q" value="" size="15" maxlength="50" placeholder="Введите запрос">
                        </form>
                        <span class="x3-search-panel__text">Нажмите Enter для поиска или Esc для отмены</span>
                        <button class="x3-search-panel__close">
                            <svg aria-hidden="true" width="15" height="15">
                                <use xlink:href="#close-svg"></use>
                            </svg></button>
                    </div>
                </div>
            </div>
            <div class="x3-header__btn">
                <!-- <a href="/feedback/" class="x3-btn">Свяжитесь с нами</a> -->
                <a href="#" class="x3-btn">Свяжитесь с нами</a>
            </div>
        </div>
    </div>
</header>
<!-- end of header -->