<!-- scripts -->



<!-- <script src="js/jcf/jquery.js"></script>
<script src="js/jcf/jcf.js"></script>
<script src="js/jcf/jcf.select.js"></script>
<script src="js/jcf/jcf.radio.js"></script>
<script src="js/jcf/jcf.checkbox.js"></script>
<script src="js/jcf/jcf.range.js"></script>

<script src="js/dataTabs.js"></script>

<script src="js/howler/howler.core.js"></script> 
<script src="js/howler/player.js"></script> -->

<script src="js/vendor.min.js"></script>
<script src="js/app.min.js"></script>