<!-- bubble -->
<div class="bubble_card bubble_card__container">
  <button class="bubble_card__close">
    <svg aria-hidden="true" width="15" height="15">
      <use xlink:href="#close-svg"></use>
    </svg>
  </button>
  <div class="bubble_card__wrap">
    <div class="bubble_card__card">
      <img src="/img/cart_guest.png" alt="Карта гостя">
    </div>
  </div>
  <div class="bubble_card__right">
    <div class="bubble_card__question">Что такое карта гостя?</div>
    <div class="bubble_card__btn">
      <a href="#" class="bubble_card__btn_a">Узнать</a>
    </div>
  </div>
</div>
<!-- end of bubble -->