<!-- bubble -->
<div class="bubble_card bubble_card__container">
  <button class="x3-tmenu__close bubble_card__close">
    <svg aria-hidden="true" width="15" height="15">
      <use xlink:href="#close-svg"></use>
    </svg>
  </button>
  <div class="bubble_card__card">
    <img src="/img/cart.png" alt="Карта гостя">
  </div>
  <div class="bubble_card__right">
    <div class="bubble_card__question">Что такое карта гостя?</div>
    <div class="x3-tmenu__btn">
      <a href="/feedback/" class="x3-btn">Узнать</a>
    </div>
  </div>
</div>
<!-- end of bubble -->