$color_1: #FFFFFF;
$font-family_1: 'Roboto';
$background-color_1: #E08F40;

.headline__player {
    display: flex;
}

.audio-player {
    border-radius: 60px;
    color: $color_1;
    background: $background-color_1;
    position: relative;
    cursor: pointer;

    &:hover {
        box-shadow: 0 20px 38px rgba(0, 0, 0, .16);
    }

    &-slot {
        display: flex;
    }

    &__pause {
        height: 52px;
        padding-left: 9px;
        padding-top: 7px;
        display: none;
    }

    &__play {
        height: 52px;
        padding-left: 9px;
        padding-top: 7px;
    }

    &__info {
        position: relative;
        font-family: $font-family_1;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.3em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 7px 25px 7px 5px;
    }

    &__startbar {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 0 60px 60px 0;
        background-color: $background-color_1;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 30;
    }

    &__footer {
        position: absolute;
        bottom: 12px;
        left: 0;
        width: calc(100% - 30px);
        height: 10px;
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        font-size: 10px;
        z-index: 15;
    }
}

.is-page-historical-object {
    #track {
        display: none;
    }

    #list {
        display: none;
    }
}


.progress-track {
    min-width: 235px;
    width: 100%;
    height: 5px;
    margin-left: 10px;
    background-color: white;
    border-radius: 5px;

    #progress {
        position: relative;
        height: 5px;
        background: #FFBD7D;
        border-radius: 5px;

        &::after {
            content: '';
            position: absolute;
            top: -3px;
            right: -5px;
            width: 11px;
            height: 11px;
            background: #FFBD7D;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            border-radius: 50%;
        }
    }
}