.trip__map {
    position: relative;
}

.svg_animate {
    position: absolute;
    top: -1%;
    left: 27.3%;
    overflow: visible;
}

.svg_animate .path {
    stroke-width: 7;
    stroke: #E08F40;
    fill: transparent;
    // animation: lineforward 3s linear;
    // animation-fill-mode: forwards;
}

.zoom_viewBox {
    position: absolute;
    top: -350px;
    right: 50px;
}

.group_02 {
    opacity: 0;
}

.historical_line_svg {
    display: none;
}

.svg_line_point {
    opacity: 0;
}

.historical_place,
.historical_line_point {
    transform-box: fill-box;
    transform-origin: center;
    opacity: 0;
}

.historical_place,
.historical_line_point.instant_display .instant_hide {
    opacity: 0;
    transform: scale(1);
}

.historical_line_point.instant_display,
.animation-started .historical_line_point {
    animation: popIn .3s ease-in-out forwards;
    position: absolute;
}


.animation-started .historical_line_point.instant_display .instant_hide {
    animation: popIn .3s ease-in-out forwards;
}

.animation-started .historical_place {
    animation: reveal .3s linear forwards;
}

.animation-started .all_places {
    // animation: hideall .3s linear forwards;
}

.animation-started .place_01,
.animation-started .historical_line_point.point_1 {
    animation-delay: var(--delay-base);
}

.animation-started .place_02,
.animation-started .historical_line_point.point_2 {
    animation-delay: calc(var(--delay-base) + var(--delay-gap));
}

.animation-started .place_03,
.animation-started .historical_line_point.point_3 {
    animation-delay: calc(var(--delay-base) + var(--delay-gap) * 2);
}

.animation-started .place_04,
.animation-started .historical_line_point.point_4 {
    animation-delay: calc(var(--delay-base) + var(--delay-gap) * 3);
}

.animation-started .place_05,
.animation-started .historical_line_point.point_5 {
    animation-delay: calc(var(--delay-base) + var(--delay-gap) * 4);
}

.animation-started .place_06,
.animation-started .historical_line_point.point_6 {
    animation-delay: calc(var(--delay-base) + var(--delay-gap) * 5);
}

.animation-started .place_07,
.animation-started .historical_line_point.point_7 {
    animation-delay: calc(var(--delay-base) + var(--delay-gap) * 6);
}

.animation-started .place_08,
.animation-started .historical_line_point.point_8 {
    animation-delay: calc(var(--delay-base) + var(--delay-gap) * 7);
}

.animation-started .place_09,
.animation-started .historical_line_point.point_9 {
    animation-delay: calc(var(--delay-base) + var(--delay-gap) * 8);
}

.animation-started .place_10,
.animation-started .historical_line_point.point_10 {
    animation-delay: calc(var(--delay-base) + var(--delay-gap) * 9);
}

.animation-started .place_11,
.animation-started .historical_line_point.point_11 {
    animation-delay: calc(var(--delay-base) + var(--delay-gap) * 10);
}

.animation-started .place_12,
.animation-started .historical_line_point.point_12 {
    animation-delay: calc(var(--delay-base) + var(--delay-gap) * 11);
}

.animation-started .place_13,
.animation-started .historical_line_point.point_13 {
    animation-delay: calc(var(--delay-base) + var(--delay-gap) * 12);
}

.animation-started .place_14,
.animation-started .historical_line_point.point_14 {
    animation-delay: calc(var(--delay-base) + var(--delay-gap) * 13);
}

.animation-started .place_15,
.animation-started .historical_line_point.point_15 {
    animation-delay: calc(var(--delay-base) + var(--delay-gap) * 14);
}

.animation-started .place_16,
.animation-started .historical_line_point.point_16 {
    animation-delay: calc(var(--delay-base) + var(--delay-gap) * 15);
}

.animation-started .place_17,
.animation-started .historical_line_point.point_17 {
    animation-delay: calc(var(--delay-base) + var(--delay-gap) * 16);
}

.animation-started .place_18,
.animation-started .historical_line_point.point_18 {
    animation-delay: calc(var(--delay-base) + var(--delay-gap) * 17);
}

.animation-started .place_19,
.animation-started .historical_line_point.point_19 {
    animation-delay: calc(var(--delay-base) + var(--delay-gap) * 18);
}

.animation-started .place_20,
.animation-started .historical_line_point.point_20 {
    animation-delay: calc(var(--delay-base) + var(--delay-gap) * 19);
}

// .animation-started .all_places {
//     animation-delay: calc(var(--delay-base) + var(--delay-gap) * 20);
// }

.animation-started .historical_line_point:hover {
    animation: popIn .3s ease-in-out forwards;
    cursor: pointer;
}

.animation-started .place_hovered .historical_place {

    &.place_01,
    &.place_02,
    &.place_03,
    &.place_04,
    &.place_06,
    &.place_07,
    &.place_08,
    &.place_09,
    &.place_10,
    &.place_11,
    &.place_12,
    &.place_13,
    &.place_14,
    &.place_15,
    &.place_16,
    &.place_17,
    &.place_18,
    &.place_19,
    &.place_20 {
        transform-origin: center;
        animation-delay: unset;
        animation-play-state: unset;
    }
}

.tippy-box {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    background: #E08F40;
    box-shadow: 0px 5px 10px rgba(174, 97, 22, 0.3);
    border-radius: 50px;
    margin-left: 5px;
}

.ttip-text {
    padding-right: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.tippy-box .tippy-content {
    padding: 21px;
    display: flex;
}

.tippy-box .tippy-content a {
    white-space: nowrap;
}

.tippy-box .tippy-content a svg {
    position: absolute;
    top: 50%;
    right: 15px;
    transition: right .3s;
    transform: translate(-50%, -50%);
}

.tippy-box .tippy-content a:hover svg {
    right: 10px;
}

.tippy-box[data-placement^=top]>.tippy-arrow::before {
    border-top-color: #E08F40;
}

.tippy-box[data-placement^=right]>.tippy-arrow::before {
    border-right-color: #E08F40;
}

.tippy-box[data-placement^=bottom]>.tippy-arrow::before {
    border-bottom-color: #E08F40;
}

.tippy-box[data-placement^=left]>.tippy-arrow::before {
    border-left-color: #E08F40;
}

.tippy-box[data-placement^=right]>.tippy-arrow:before {
    border-width: 14px 14px 14px 0;
    left: -10px;
    top: -6px;
}

.duplicate_point_el {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    opacity: 0;
    z-index: -50;
}

.animation-started .duplicate_point_el {
    z-index: 55;
}

.historical_line_point,
.duplicate_point_wrapp {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.duplicate_point_el .duplicate_point_wrapp {
    position: relative;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    height: 20px;
    width: 20px;
    color: #E08F40;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    box-shadow: 0px 0px 15px rgba(233, 112, 0, 0.9);
    transition: transform 0.3s;
}

.duplicate_point_el .duplicate_point_wrapp::after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
}

.duplicate_point_wrapp:hover {
    transform: scale(1.5);
}

.duplicate_point_el.point_1 .duplicate_point_wrapp {
    height: 30px;
    width: 30px;
    border: 4px solid white;
    background-color: #E08F40;
    color: white;
}

.duplicate_point_el:hover {
    z-index: 70;
}

// @keyframes lineforward {
//     to {
//         stroke-dashoffset: 0;
//     }
// }

@keyframes popIn {
    50% {
        transform: scale(1.3);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        transform: scale(.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}



@keyframes hideall {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}